<!DOCTYPE html>
<html>
    <head>
        <script src="./game.js" ></script>
    </head>

    <body>
        <script>
            console.log(":d")
            let game = new Game();
            game.test();
        </script>
    </body>
 
</html>